[flake8]
# ANN   : flake8-annotations warnings
# B,B9  : flake8-bugbear
# BLK   : black
# C     : mccabe checks code complexity
# D     : flake8-docstrings warnings
# DAR   : darglint warnings
# F     : pyflakes errors
# I     : import-order warnings
# W,E   : pycodestyle (pep8) warnings and errors
select = ANN,B,B9,BLK,I,C,D,DAR,E,F,W
max-complexity = 10
ignore =
    # *args and **kwargs annotations can be ignored
    ANN002,
    ANN003,
    # Missing type annotation for self and cls
    ANN101,
    ANN102,
    # Missing type annotation for init
    ANN204,
    # Dynamically typed expressions (typing.Any) are disallowed
    ANN401,
    # Function is too complex
    C901,
    # Missing docstring in public module
    D100,
    # Missing docstring in public package
    D104,
    # Line break before binary operator, ignore 503 and use 504
    W503,
    D101,
    D102
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203

max-line-length = 95

# import order
import-order-style = google

# docstrings
docstring-convention = google

# local
application-import-names = onemod